
/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* linking fonts */
@font-face {
    font-family: 'gilroybold';
    src: url('../fonts/gilroy-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroysemibold';
    src: url('../fonts/gilroy-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* general styling */
body {
    box-sizing: border-box;
    margin: 50px 0;
    text-decoration: none;
    list-style: none;
}
.logo {
    padding: 0  0 0 50px;
    font-weight: 600;
    font-family: "gilroybold";
    font-size: 20px;
}
.mainBody {
    font-family: "Roboto" , sans-serif;
    text-align: center;
    padding: 100px 0 0 0;
    height: 100%;
    width: 100%;
    color: grey;
}
.mainBody .big-txt {
    font-size: 26px;
    font-weight: 500;
}
.mainBody p {
    padding-bottom: 40px;
    line-height: 25px;
}
.mainBody .small-txt {
    font-size: 14px;
}
.mainBody .input-container {
    margin-bottom: 30px;
}
/* email address field */
.input-field {
    width: 300px;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #d3d3d3;
}
.input-field:focus {
    border-bottom: 2px solid #477EC8;
}
/* email icon */
.icon {
    padding: 3px;
    text-align: center;
    color: #d3d3d3;
}
/* send email button */
.mainBody .btn {
    width: 350px;
    background-color: #477EC8;
    border-radius: 8px;
    color: #ffffff;
    outline: none;
    height: 40px;
    border: none;
}
.mainBody .pages {
    position: absolute;
    bottom: 30px;
    right: 25%;
    left: 50%;
    margin-left: -200px;
    display: flex;
} 
.mainBody .pages a {
    text-decoration: none;
    color: black;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* queries for mobile */
@media only screen (max-width: 800px) {
    .logo {
        font-size: 18px;
    }
    .mainBody .big-txt {
        font-size: 18px;
    }
    .mainBody .small-txt {
        font-size: 12px;
    }
    .pages {
        font-size: 18px;
    }
}